ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.personList {
  margin: 16px;
  padding: 24px;
  border-top: 2px solid #276112;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
}

.title {
  margin: 0;
  color: #999999;
  text-transform: uppercase;
}

.selectBox {
  width: 100%;
  height: 40px;
  margin: 10px 0;
}

.persons {
  margin-top: 16px;
}

.personsBlock {
  max-height: calc(60px * 5);
  overflow: hidden;
}

.personsBlock.isExpanded {
  max-height: 100%;
}

.person {
  display: flex;
  align-items: center;
  transition: background-color .2s;
}

.person:hover {
  background-color: #deffd2;
}

.person:hover .personPicture:after,
.person:hover .close {
  opacity: 1;
}

.personPicture {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
}

.personPicture:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #ffffff;
  border-radius: 50%;
  transition: opacity .2s;
}

.personPicture:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 1px solid #ffa0a0;
  border-radius: 50%;
  transition: opacity .2s;
  z-index: 1;
}

.personPicture:hover:before,
.personPicture:hover .tooltip,
.personPicture:hover .tooltip:before {
  opacity: 1;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  transition: opacity .2s;
  z-index: 1;
  cursor: pointer;
}

.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  height: 22px;
  width: 1px;
  background-color: #ffa0a0;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.tooltip {
  position: relative;
  display: block;
  width: 78px;
  margin-top: -75px;
  margin-left: -19px;
  padding: 4px 0;
  text-align: center;
  font-size: .8em;
  background-color: #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 10px);
  transition: opacity .2s;
  opacity: 0;
  z-index: auto;
}

.tooltip:before {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 34px;
  width: 10px;
  height: 10px;
  margin-left: -50%;
  background-color: #ffffff;
  transform: rotate(45deg);
  transition: opacity .2s;
  opacity: 0;
  z-index: -1;
}

.showAll {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deffd2;
  font-size: .8em;
  text-transform: uppercase;
  cursor: pointer;
}

.arrow {
  display: inline-block;
  margin-top: -10px;
  margin-left: 6px;
  padding: 6px;
  border: solid #999999;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}
